HELP.md

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Logs & Temp ###
*.log
*.tmp
*.swp

### OS ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Frontend ###
node/
node_modules/

### Misc ###
.frontend-gradle-plugin/
*.db
*.pid
*.seed
*.bak


src/main/resources/certs/private.pem
src/main/resources/certs/public.pem